<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>IoT</title>
</head>
<body>
<h1>{{ titulo }}</h1>
<h4>URL: {{ URL }}</h4>
<h4>IP: {{ IP }}</h4>
<h4>Puerto: {{ puerto }}</h4>
<h4> <a href="http://localhost:8000/api/sensor/">sensores</a></h4>
<h4> <a href="http://localhost:8000/api/actuador/">actuadores</a></h4>
<h4> <a href="http://localhost:8000/api/lectura/">lecturas</a></h4>
<h4> <a href="http://localhost:8000/api/escritura/">escrituras</a></h4>
<h4> <a href="http://localhost:8000/api/cliente/">clientes</a></h4>
<h4> <a href="http://localhost:8000/api/cliente-sensor/">cliente-sensores</a></h4>
<h4> <a href="http://localhost:8000/api/cliente-actuador/">cliente-actuadores</a></h4>
</body>
</html>